.ProgressBar {
  border-radius: 99px;
  min-height: 2vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  border-radius: 99px;
}

.pb13 {
  background: linear-gradient(
    90deg,
    #4e76ef 0%,
    #82cdd3 209.96%,
    #a0eebc 319.74%
  );
  height: 2vh;
  border-radius: 99px;
}

.pb23 {
  background: linear-gradient(
    90deg,
    #4e76ef -109.87%,
    #82cdd3 98.36%,
    #a0eebc 207.24%
  );
  height: 2vh;
  border-radius: 99px;
}

.pb33 {
  background: linear-gradient(
    90deg,
    #4e76ef -219.08%,
    #82cdd3 -9.55%,
    #a0eebc 100%
  );

  height: 2vh;
  border-radius: 99px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 4px;
  border: 0.5px solid #a0eebc;
  border-radius: 4px;
}

input[type="checkbox"]::before {
  content: "";
  width: 8px;
  height: 8px;
  clip-path: polygon(
    96.7% 16.6%,
    96.7% 16.6%,
    96.817% 16.723%,
    96.928% 16.851%,
    97.033% 16.984%,
    97.132% 17.122%,
    97.225% 17.263%,
    97.312% 17.406%,
    97.393% 17.553%,
    97.468% 17.701%,
    97.537% 17.85%,
    97.6% 18%,
    97.6% 18%,
    97.657% 18.153%,
    97.708% 18.311%,
    97.753% 18.474%,
    97.792% 18.642%,
    97.825% 18.813%,
    97.852% 18.986%,
    97.873% 19.163%,
    97.888% 19.341%,
    97.897% 19.52%,
    97.9% 19.7%,
    97.9% 19.7%,
    97.897% 19.877%,
    97.888% 20.05%,
    97.873% 20.218%,
    97.852% 20.385%,
    97.825% 20.55%,
    97.792% 20.715%,
    97.753% 20.882%,
    97.708% 21.05%,
    97.657% 21.223%,
    97.6% 21.4%,
    97.6% 21.4%,
    97.537% 21.55%,
    97.468% 21.699%,
    97.393% 21.847%,
    97.312% 21.994%,
    97.225% 22.138%,
    97.132% 22.278%,
    97.033% 22.416%,
    96.928% 22.549%,
    96.817% 22.677%,
    96.7% 22.8%,
    35.6% 83.9%,
    35.6% 83.9%,
    35.477% 84.017%,
    35.349% 84.128%,
    35.216% 84.233%,
    35.078% 84.332%,
    34.938% 84.425%,
    34.794% 84.512%,
    34.647% 84.593%,
    34.499% 84.668%,
    34.35% 84.737%,
    34.2% 84.8%,
    34.2% 84.8%,
    34.047% 84.857%,
    33.889% 84.908%,
    33.726% 84.953%,
    33.558% 84.992%,
    33.388% 85.025%,
    33.214% 85.052%,
    33.037% 85.073%,
    32.859% 85.088%,
    32.68% 85.097%,
    32.5% 85.1%,
    32.5% 85.1%,
    32.323% 85.097%,
    32.15% 85.088%,
    31.982% 85.073%,
    31.815% 85.052%,
    31.65% 85.025%,
    31.485% 84.992%,
    31.318% 84.953%,
    31.15% 84.908%,
    30.977% 84.857%,
    30.8% 84.8%,
    30.8% 84.8%,
    30.65% 84.737%,
    30.501% 84.668%,
    30.353% 84.593%,
    30.206% 84.512%,
    30.063% 84.425%,
    29.922% 84.332%,
    29.784% 84.233%,
    29.651% 84.128%,
    29.523% 84.017%,
    29.4% 83.9%,
    3.3% 57.7%,
    3.3% 57.7%,
    3.069% 57.451%,
    2.858% 57.186%,
    2.666% 56.904%,
    2.497% 56.609%,
    2.35% 56.3%,
    2.227% 55.979%,
    2.13% 55.648%,
    2.058% 55.306%,
    2.015% 54.957%,
    2% 54.6%,
    2% 54.6%,
    2.015% 54.243%,
    2.058% 53.894%,
    2.13% 53.552%,
    2.227% 53.221%,
    2.35% 52.9%,
    2.497% 52.591%,
    2.666% 52.296%,
    2.858% 52.014%,
    3.069% 51.749%,
    3.3% 51.5%,
    3.3% 51.5%,
    3.549% 51.269%,
    3.814% 51.058%,
    4.096% 50.866%,
    4.391% 50.697%,
    4.7% 50.55%,
    5.021% 50.427%,
    5.352% 50.33%,
    5.694% 50.258%,
    6.043% 50.215%,
    6.4% 50.2%,
    6.4% 50.2%,
    6.757% 50.215%,
    7.106% 50.258%,
    7.448% 50.33%,
    7.779% 50.427%,
    8.1% 50.55%,
    8.409% 50.697%,
    8.704% 50.866%,
    8.986% 51.058%,
    9.251% 51.269%,
    9.5% 51.5%,
    32.6% 74.6%,
    90.6% 16.6%,
    90.6% 16.6%,
    90.723% 16.483%,
    90.851% 16.372%,
    90.984% 16.267%,
    91.122% 16.168%,
    91.263% 16.075%,
    91.406% 15.988%,
    91.553% 15.907%,
    91.701% 15.832%,
    91.85% 15.763%,
    92% 15.7%,
    92% 15.7%,
    92.153% 15.643%,
    92.311% 15.592%,
    92.474% 15.547%,
    92.642% 15.508%,
    92.813% 15.475%,
    92.986% 15.448%,
    93.163% 15.427%,
    93.341% 15.412%,
    93.52% 15.403%,
    93.7% 15.4%,
    93.7% 15.4%,
    93.877% 15.403%,
    94.05% 15.412%,
    94.218% 15.427%,
    94.385% 15.448%,
    94.55% 15.475%,
    94.715% 15.508%,
    94.882% 15.547%,
    95.05% 15.592%,
    95.223% 15.643%,
    95.4% 15.7%,
    95.4% 15.7%,
    95.55% 15.763%,
    95.699% 15.832%,
    95.847% 15.907%,
    95.994% 15.988%,
    96.138% 16.075%,
    96.278% 16.168%,
    96.416% 16.267%,
    96.549% 16.372%,
    96.677% 16.483%,
    96.8% 16.6%
  );
  transform: scale(0);
  background-color: #a0eebc;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.list {
  position: relative;
  color: #9aa2c3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid #78809b;
  border-radius: 16px;
  padding-right: 16px;
  margin-bottom: 12px;
  line-height: 1.2em;
  cursor: pointer;
  padding: 12px 16px;
}

.listSectionTitle {
  display: block;
  margin-bottom: 12px;
}

.listSectionTitle p {
  margin: 0px;
}

.listSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px 0px;
  align-items: center;
}

.listSection button {
  background: none;
  color: #a0eebc;
  font-weight: 300;
  padding: 0px;
  margin-top: 0px;
}

.list.selected {
  border: 0.5px solid #4e76ef;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgba(78, 118, 239, 0.1) 0%,
    rgba(130, 205, 211, 0.1) 50%,
    rgba(160, 238, 188, 0.1) 100%
  );
  backdrop-filter: blur(6px);
}

.listSectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listSectionContent span {
  padding: 0px 12px;
}

.action {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: linear-gradient(180deg, rgba(11, 23, 31, 0) 0%, rgba(0,0,0,1) 70%);
}

.action button {
  width: 100%;
}

.action-content {
  padding: 24px;
}
