.ProgressBar {
  border-radius: 99px;
  min-height: 2vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  border-radius: 99px;
}

.pb13 {
  background: linear-gradient(90deg, #4E76EF 0%, #82CDD3 65.67%, #A0EEBC 100%);
  height: 2vh;
  border-radius: 99px;
}

.pb23 {
  background-color: #2D344C;
  height: 2vh;
  border-radius: 99px;
}

.pb33 {
  background-color: #2D344C;
  height: 2vh;
  border-radius: 99px;
}

.action {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: linear-gradient(180deg, rgba(11, 23, 31, 0) 0%, rgba(0,0,0,1) 70%);
}

.action button {
  width: 100%;
}

.action-content {
  padding: 24px;
}
