.duration-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.duration-box svg {
  color: #a0eebc;
}

.duration-box-icon {
  padding: 0px 12px 0px 0px;
}

.duration-box-content {
  display: flex;
  flex-direction: column;
  font-weight: 275;
  padding: 0px 12px;
  border-left: 1px solid #78809b;
}

.select-datetime-item {
  width: 100%;
  margin-top: 16px;
}

.select-datetime-item input[type="date"],
input[type="time"] {
  width: calc(100% - 32px);
}

.select-datetime-item span {
  padding-right: 12px;
  color: #9aa2c3;
}

.available-times {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important  ;
  grid-column-gap: 8px;
  grid-row-gap: 2px;
}

.select-datetime-item button {
  text-transform: uppercase;
  font-weight: 200;
  border: 0.5px solid #78809b;
  background: none;
}

.labelLine {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.labelLineHr {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  border-color: #9aa2c3;
}

.labelLineHr hr {
  width: 100%;
  border: 0.5px solid #9aa2c3;
}

.action {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(11, 23, 31, 0) 0%,
    rgba(0, 0, 0, 1) 70%
  );
}

.action button {
  width: 100%;
}

.action-content {
  padding: 24px;
}
